@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;500&display=swap");


/* ***************************************top-div************************************ */
.logo {
  width: 8vw;
}

nav li {
  font-size: 10px;
  font-weight: bolder;
}

nav li:hover {
  text-decoration: underline;
}

* {
  font-family: "Roboto", sans-serif;
}

.top {
  height: 100vh;
  width: 100%;
  display: flex;
  padding-top: 100px;
  justify: center;
  align-items: center;
  position: relative;
}

.top-child {
  /* display: flex; */

  height: 80vh;
  width: 80vw;
  padding: 30px;
  margin: 40px;
  /* border: 2px solid black;
    background-color: antiquewhite; */
}

.top-child h1 {
  width: 187.5px;
  position: absolute;
  top: 187.5px;
  left: 125px;
  font-size: 45px;
}
.top-child h6 {
  color: plum;
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  position: absolute;
  top: 175px;
  transform: rotate(-45deg);
  left: 100px;
}

.top-child p {
  color: grey;
  font-size: 12.5px;
  position: absolute;
  top: 375px;
  left: 187px;
  width: 313px;
  font-family: "Poppins", sans-serif;
}

.btn-talk {
  background-color: rgb(165, 105, 222);
  border: 0;
  font-size: small;
  padding: 12px;
  position: absolute;
  top: 468px;
}
.btn-portfolio {
  font-size: small;
  border: 0;
  padding: 10px;
  position: absolute;
  top: 468px;
  left: 200px;
  background-color: white;
}
.arr-icon {
  transform: rotate(-45deg);
}
.social-icons {
  position: fixed;
  bottom: 10px;
  left: 70px;
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
}

.social-icons a {
  padding: 12.5px;
  font-size: 19px;
  color: black;
}


.top-logo{
    width: 25vw;
    
}

/* ********************************mid-div********************************* */

.mid{
  height: 100vh;
  width: 100%;
  display: flex;
  /* padding-top: 100px; */
  justify: center;
  align-items: center;
  background-color: #F7D060;
  position: relative;
  display: flex;
  
}

.mid-child{
  height: 80vh;
  width: 80vw;
  padding: 30px;
  margin: 40px;
  /* background-color: aqua; */
  position: inherit;
 

}

.mid-h6{
  color: rgb(190, 102, 190);
  font-family: "Poppins", sans-serif;
  font-size: 12.5px;
  position: absolute;
  top: 175px;
  transform: rotate(-45deg);
  left: 100px;

}

.mid-p{
  color: grey;
  font-size: 12.5px;
  position: absolute;
  top: 320px;
  left: 187px;
  width: 313px;
  font-family: "Poppins", sans-serif;
  
  

}


 

.mid-h1{
  width: 200px;
  position: absolute;
  top: 187.5px;
  left: 125px;
  font-size: 45px;

}

.mid-content{
  width: 90%;
  height: 35%;
  margin: 10px;
  /* background-color: aqua;
  border: 2px solid black; */
  position: relative;

}

.line{
  color: black;
  border-top: 2px solid black;
}

.mid-content-h6{
  font-weight:normal;
  font-family: "Poppins", sans-serif;
  font-size: small;
  position: absolute;
  left: 75px;
  top: 120px;

  
}
.mid-content-h1{
  width: 200px;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 75px;
}


.mid-content-h5{
  position: absolute;
  top: 30px;
  left: 10px;

}

.mid-content-btn{
  font-size: 25px;
  color: aliceblue;
  /* border-radius: 50%; */
  background-color: rgb(190, 102, 190);
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: none;

  
}





@media only screen and (max-width: 600px) {
  .top {
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    margin: auto;
  }
  .top-child {
    
    height: 50vh;
    width: 90vw;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-child h6 {
    left: 10px;
    top: 100px;
  }
  .top-child h1 {
    left: 34px;
    font-size: 49px;
    top: 110px;
  }

  .top-child p {
    top: 297px;
    left: 66px;
    font-size: 13px;
    width: 240px;
  }
  .btn-talk {
    top: 416px;
    left: 12px;
    font-size: 10px;
  }
  .btn-portfolio {
    top: 416px;
    left: 98px;
    font-size: 10px;
  }
  .social-icons {
    position: absolute;
    top: 476px;
    width: 229px;
    font-size: 13px;
    left: 10px;
  }

  .logo {
    width: 70px;
  }
  .top-logo{
    width: 300px;
    
}
/* ***************************mid**************************** */


.mid {
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  
}
.social-icons{
  display: none;
}
.mid-child {
  
  height: 50vh;
  width: 90vw;
  margin: 0px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.mid-h6 {
  left: 10px;
  top: 100px;
}
.mid-h1 {
  left: 34px;
  font-size: 49px;
  top: 110px;
}

.mid-p {
  top: 250px;
  left: 66px;
  font-size: 13px;
  width: 240px;
}
.mid-content{
  height: 25%;
  flex-wrap: wrap;
  flex-direction: column;
}

.mid-content-h1{
  font-size: 25px;
}

.mid-content-h6{
  top: 96px;
}
.mid-content-h5{
  font-size: 16px;
}

.mid-content-btn{
  font-size: 18px;
    color: aliceblue;
    /* border-radius: 50%; */
    background-color: rgb(190, 102, 190);
    position: absolute;
    bottom: -27px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
}
}

}
